<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="article-title">{{!-- Article's Title --}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="leave-comment">Leave a comment:</label>
                        <textarea class="form-control" id="commentText" rows="3"></textarea>
                    </div>
                    <div class="submitComment">{{!-- Submit button with article ID --}}</div>
                </form>
            </div>
            <div class="modal-footer pastComments">{{!-- Comments --}}</button></div>
        </div>
    </div>
</div>

